.calculator {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding-top: 80px;
  padding-bottom: 180px;

  .btn {
    width: fit-content;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 26px;
    padding: 16px;

    .btn {
      width: 100%;
    }
  }
}

.calculator__text-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.calculator__heading {
  max-width: 720px;
}

.calculator__about {
  max-width: 720px;
  font-size: 17px;
  font-weight: 300;
  line-height: 26px;
}

.calculator__wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  max-width: 1240px;

  & > * {
    width: 50%;
  }

  @media (max-width: $tablet-width) {
    width: unset;
    flex-direction: column;
    gap: 35px;

    & > * {
      width: 100%;
    }
  }
}

.calculator__potential-wraper {
  display: flex;
  flex-direction: column;
  gap: 26px;

  h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
  }

  span {
    font-size: 60px;
    font-weight: 700;
    line-height: 76px;
  }

  p {
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
  }

  @media (max-width: $tablet-width) {
    gap: 15px;

      span {
font-size: 38px;
line-height: 54px;
  }
  }
}

.profit__wrapper {
  box-sizing: border-box;
  padding: 21px 28px;
  color: $basic-white;
  border-radius: 32px;
  background: linear-gradient(334deg, #7fb800 -9.84%, #0f9b0f 121.28%), #e4e4e4;

  span.irs-min,
  span.irs-max {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.2px;
    opacity: 0.5;
  }

  label {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.24px;
  }

  @media (max-width: $tablet-width) {
    label {
      font-size: 16px;
    }

    span.irs-min,
    span.irs-max {
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.profit__heading {
  margin-bottom: 30px;
  color: $basic-white;

  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 3px 0px 7px grey;
  }
}

.calculator__result {
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  line-height: 36px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
  }
}

#calcResult {
  margin-bottom: 15px;
}
