.currency {
  min-height: 450px;
  padding: 80px 0;

  @media (max-width: $tablet-width) {
    padding: 20px 0;
  }
}

.currency__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  min-height: 100px;
  margin-bottom: 50px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 20px;
  -webkit-overflow-scrolling: touch;
}

.currency__card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 334px;
  min-height: 225px;
  margin-bottom: 20px;
  padding: 40px;
  font-family: "Rubik", "Arial", sans-serif;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);
  scroll-snap-align: start;

  &.reverse {
    .currency__arrow > svg {
      fill: $error;
      transform: rotate(180deg);
    }

    .currency__percent {
      color: $error;
    }
  }

  @media (max-width: $tablet-width) {
    min-width: 300px;
  }
}

.currency__card-top {
  display: flex;
  justify-content: space-between;
}

.currency__arrow {
  width: 40%;

  svg {
    fill: $main-color;
  }
}

.currency__name {
  margin-bottom: 6px;
  font-size: 20px;
  line-height: 26px;
  color: $nav-hover;
  text-transform: capitalize;
}

.currency__ticker {
  color: #000;
  font-family: "Arial";
  font-size: 12px;
  opacity: 0.6;
}

.currency__card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.currency__currency {
  margin-bottom: 12px;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  color: $nav-hover;

  &::before {
    content: "$";
  }
}

.currency__percent {
  &::after {
    content: "%";
  }
}

.currency__percent {
  font-size: 17px;
  color: $main-color;
}

.currency__graph {
  width: 40%;
}
