.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  padding: 20px;
  color: $basic-white;
  border-radius: 50px;
  background: linear-gradient(334deg, #7fb800 -9.84%, #0f9b0f 121.28%);

  @media (max-width: $tablet-width) {
    max-width: 100%;
  }
}

.form__heading {
  color: $basic-white;
  font-size: 42px;
  line-height: 56px;

  @media (max-width: $tablet-width) {
    font-size: 22px;
    line-height: 36px;
  }
}

.form__about {
  font-size: 17px;
  line-height: 26px;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input {
  box-sizing: border-box;
  max-height: 45px;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: 400;
  color: $basic-white;
  background: transparent;
  border-radius: 30px;
  border: 1px solid $input-border;

  &::placeholder {
    color: $basic-white;
  }
}

.form_message.error.inactive {
  display: none;
}

.form_message.error.active {
  display: block;
  color: #0a0a0a;
}

.error {
  color: #df5e63;
  border-color: #df5e63 !important;
}

label.error {
  margin-top: -25px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

#phone1-error {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}
