.main-nav {
  //Desktop-first
  display: flex;
  align-items: center;

  .btn {
    display: none;
  }

  @media (max-width: $tablet-width) {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    padding: 25px 16px;
    background: $white-text;

    .btn {
      display: flex;
      margin-top: 10vh;
      width: max-content;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    & svg {
      fill: $main-color;
    }

    & .main-nav__item > a {
      color: $bcg-black;
    }

    &--closed {
      background: transparent;
      min-height: 85px;

      & .main-nav__list,
      .btn {
        display: none;
      }
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  @media (max-width: $tablet-width) {
    display: block;
  }
}

.main-nav__list {
  display: flex;
  align-items: center;
  gap: 34px;

  @media (max-width: $tablet-width) {
    margin-top: 25px;
    display: block;

    &--bottom {
      margin-top: 20px;
    }
  }
}

.main-nav__item {
  cursor: pointer;

  &--shadow {
    display: none;
  }

  a {
    color: $text-black;
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 28px;
    margin-bottom: 30px;

    &--shadow {
      display: flex;
      min-height: 10px;
      margin-top: 50px;
      box-shadow: 0px 0px 0px 0px rgba(222, 222, 222, 0.1), 0px 4px 10px 0px rgba(222, 222, 222, 0.1),
      0px 18px 18px 0px rgba(222, 222, 222, 0.09), 0px 40px 24px 0px rgba(222, 222, 222, 0.05),
      0px 71px 28px 0px rgba(222, 222, 222, 0.01), 0px 111px 31px 0px rgba(222, 222, 222, 0);
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 16px;
  display: none;
  z-index: 2;
  width: 45px;
  height: 45px;
  padding: 6px 14px;
  background-color: transparent;
  border: none;
  border-radius: 40px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

// Бургер на css
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 45px;
  height: 4px;
  background-color: $main-color;
  box-shadow: 0 12px 0 0 $main-color, 0 24px 0 0 $main-color;
  border-radius: 15px;
  transition: all ease-in-out 500ms;
}

.main-nav--closed .main-nav__toggle {
  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.main-nav--closed svg {
  display: none;
}

//Крестик на css
.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    width: 45px;
    height: 4px;
    background-color: $main-color;
    border-radius: 15px;
    transition: all ease-in-out 500ms;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.6;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}
