.main-nav {
  display: flex;
  align-items: center;

  button.btn {
    display: none;
  }

  @media (max-width: $tablet-width) {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    padding: 25px 16px;
    background: $white-text;

    .btn {
      display: flex;
      margin-top: 10vh;
      width: max-content;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    & svg {
      fill: $main-color;
    }

    & .main-nav__item > a {
      color: $basic-black;
    }

    &--closed {
      background: transparent;
      min-height: 85px;

      & .main-nav__list,
      .btn {
        display: none;
      }
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  @media (max-width: $tablet-width) {
    display: block;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 34px;

  @media (max-width: $tablet-width) {
    margin-top: 50px;
    display: block;

    &--bottom {
      margin-top: 20px;
    }
  }
}

.main-nav__item {
  font-family: "Rubik", "Arial", sans-serif;

  &--flex {
    a {
      display: flex;
      align-items: center;
      gap: 5px;
      line-height: 24px;
    }
  }

  a {
    color: $basic-black;

    &:hover {
      color: $nav-hover;
    }

    &:active {
      opacity: 0.8;
    }

    &.btn {
      color: $basic-white;
    }
  }

  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 28px;
    margin-bottom: 30px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 16px;
  display: none;
  z-index: 2;
  width: 45px;
  height: 45px;
  padding: 6px 14px;
  border: 0;
  border-radius: 29px;
  background: linear-gradient(334deg, #7fb800 -9.84%, #0f9b0f 121.28%);
  box-shadow: 0px 4px 15px 0px rgba(127, 184, 0, 0.4);
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

// Бургер на css
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 43%;
  right: 50%;
  transform: translate(50%);
  width: 25px;
  height: 1px;
  border-radius: 15px;
  background-color: $basic-white;
  box-shadow:
    0 4px 0 0 $basic-white,
    0 8px 0 0 $basic-white;
  border-radius: 15px;
  transition: all ease-in-out 500ms;
}

.main-nav--closed .main-nav__toggle {
  &:hover::before {
    opacity: 1;
  }

  &:active::before {
    opacity: 1;
  }
}

.main-nav--closed svg {
  display: none;
}

//Крестик на css
.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(50%);
    width: 25px;
    height: 1px;
    background-color: $basic-white;
    border-radius: 15px;
    transition: all ease-in-out 500ms;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
  }

  &:active::before,
  &:active::after {
    opacity: 1;
  }
}
