.page-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.page-header__img {
  @media (max-width: $tablet-width) {
    z-index: 3;
    position: relative;
    margin-top: 15px;
  }
}

@media (max-width: $tablet-width) {
  .main__img {
    max-width: 100%;
    object-fit: cover;
  }
}
