.page-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 0px 0px rgba(222, 222, 222, 0.1), 0px 4px 10px 0px rgba(222, 222, 222, 0.1),
    0px 18px 18px 0px rgba(222, 222, 222, 0.09), 0px 40px 24px 0px rgba(222, 222, 222, 0.05),
    0px 71px 28px 0px rgba(222, 222, 222, 0.01), 0px 111px 31px 0px rgba(222, 222, 222, 0);

  @media (max-width: $tablet-width) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.page-header__img {
  @media (max-width: $tablet-width) {
    z-index: 3;
    position: relative;
    width: 109px;
    height: 38px;
  }
}

@media (max-width: $tablet-width) {
  .main__img {
    max-width: 100%;
    object-fit: cover;
  }
}
