.promo {
  display: flex;
  justify-content: space-between;
  gap: 5px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
  }
}

.promo__logo-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  width: fit-content;
  padding: 2px 20px;
  padding-left: 0;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(127, 184, 0, 0.15);
}

.promo__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid $main-color;

  background: #fff;
}

.promo__heading {
  span {
    color: $main2-color;
  }
}

.promo__about {
  max-width: 800px;
}
