/* Слайдер */
.slick-slider {
  position: relative;
  min-width: 0;
  width: 100%;
}

.slider__item {
  min-width: 0;
}

.slick-slide.slick-active {
  padding: 80px 24px;

  @media (max-width: $tablet-width) {
    padding: 24px;
  }
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: center;
}

/* Стрілка */
.slick-arrow {
  position: absolute;
  bottom: -100px;
  min-width: 56px;
  height: 56px;
  font-size: 0;
  border-radius: 50%;
  border: 1px solid #7fb800;
  background: no-repeat 50% url("../img/icons/arrow-right2.svg");

  &:hover {
    opacity: 0.6;
  }
}

/* Стрілка вліво */
.slick-arrow.slick-prev {
  left: 45%;
  transform: rotate(-180deg);

  @media (max-width: $tablet-width) {
    left: 25%;
  }
}

/* Стрілка вправо */
.slick-arrow.slick-next {
  right: 45%;

  @media (max-width: $tablet-width) {
    right: 25%;
  }
}
