//Colors
$main-color: #7FB800;
$main2-color: #FAB522;

$basic-white: #ffffff;
$basic-black: #000000;

$text-black: #443737;

$bcg-black: #202020;

$nav-hover: #1d4d4f;
$btn-hover: #FA8E22;
$btn2-hover: #c15c09;

$white-text: #fbfbfb;

$input-border: #E2F6B9;
$input-color: #757575;
$att-color: #b1b1b1;

$slider-control: #d9d9d9;

// Viewprts
$tablet-width: 768px;
