//Colors
$main-color: #7fb800;
$main2-color: #fab522;

$basic-white: #ffffff;
$basic-black: #000000;

$text-black: #443737;

$bcg: #f3f4fb;

$nav-hover: #1d4d4f;
$btn-hover: #fa8e22;
$btn2-hover: #c15c09;

$white-text: #fbfbfb;
$input-border: #e2f6b9;
$input-color: #757575;
$att-color: #b1b1b1;

$slider-control: #d9d9d9;

$dot: #adb5bd;

// Viewprts
$tablet-width: 768px;
